@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

/*Color choice

blue: #7EA6E6

grey: #788394*/


*{
    
    box-sizing: border-box;
    
    
    

}

body, html{

    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100vh;
    
    
    background-color:  #7EA6E6;

}


/*Weather layout*/



.weather .icon-weather{
    width: 304px;
    
    
}

.weather{
    position: absolute;
    top: 30%;
    
    
    
    

}

.weather .icon-weather{
    position: absolute;
    left: 200px;
}

.weather .day-night{
    width: 150px;
    
    position: absolute;
    left: 80px;
}

.weather .weather-condition{
    position: absolute;
    width: 200px;
    top: 250px;
    font-family: "Viga";
    color: #f0e6e6;
    left: 300px;
    
}


/* centering city, date, and time */
.weather-information{
    display: flex;
    justify-content: center;

    padding-top: 40px;
}
.weather-information .city{
    font-family:"Viga";
    color: #f0e6e6;
    text-align: center;

}

.weather-information p{
    text-align: center;
    font-family: "Viga";
    color:#f0e6e6;
    font-size: 14px;
    padding-bottom: 10px;
    

}

.weather-information span{
    font-family: "Viga";
    color:#EC9D9D;
    text-align: center;
    font-size: 30px;
}

.weather-information .date{
    padding-left: 40px;
}


/*centering and modifying temperature*/

.temperature-conditions{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}



.celsius, .farenheit{
    font-size: 60px;
    font-family: "Viga";
    color: #5959ED;
    padding: 30px;
}

.temperature-conditions .degree{
    font-size: 30px;
}





/* weather details modifications */
.weather-details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px

   

}



.weather-details li{

    list-style-type: none;
    color:#f0e6e6;
    font-family: "Viga";
    float:left;
    padding: 30px;
    
    
}



/* search box change */
.search-bar {
   
    position: absolute; 

   
    top: 440px;
    left: 1600px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 60px;
    width:60px;
    height: 60px;
    
    transition: 0.5s ease;
    
    cursor: pointer;
    border-style: none;
    overflow: hidden;

}

.search-bar.active{
    width: 350px;
    left:1450px;
    
}

.icon{

    background-color: white;
    border-radius: 60px;
    width:60px;
    height: 60px;
    outline: none;
    z-index: 1000;
    border-style: none;
    border: none
}

.icon i{
    position: sticky;
    padding-top: 20px;
    padding-left: 20px;
    color: grey;
    font-size: 20px;
}

.search-bar .input{
    position: relative;
    width: 300px;
    height: 60px;
    left: 50px;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input .input-search{
    position: absolute;
    left: 20px;
    width:100%;
    height: 100%;
    border-style: none;
    font-size: 15px;
    
    padding: 10px 0;
    border: none;
    outline: none;
}






.center-info{
   padding-top: 150px;
}





